@import 'tailwindcss';
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: rgba(255, 255, 255, 0.11);
  }
  :root {
    --ui-scale: 1;
    --nav-scale: 1;
  }
}